@model IEnumerable<ORA.Models.EducationVM>

@{
    ViewBag.Title = "ReadResumeEducationById";
    Layout = null;
}

<link href="~/Content/Resume.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="updateForm">
        <div class="row" id="readEducation">
            <div class="col-lg-12 ">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <i class="glyphicon glyphicon-book"></i>
                            EDUCATION
                            <a class="btn btn-primary" href="CreateResumeEducation" align="right">Add Education</a>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="box box-info">
                            <div class="box-body">
                                
                               
                                <div class="bot-border" style="border-bottom-width: 15px; border-bottom-color: darkgrey;"></div>


                                @foreach (var item in Model)
                                {
                                    <div>
                                        <div class="col-sm-5 col-xs-6 tital">
                                            @Html.DisplayName("Insitution")
                                        </div>
                                        <div class="col-sm-7">
                                            @Html.DisplayFor(modelItem => item.InsitutionName)
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="bot-border"></div>
                                    </div>

                                    <div>
                                        <div class="col-sm-5 col-xs-6 tital">
                                            @Html.DisplayName("Start Date")
                                        </div>
                                        <div class="col-sm-7">
                                            @Html.DisplayFor(modelItem => item.Attended_Start_Date)
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="bot-border"></div>
                                    </div>

                                    <div>
                                        <div class="col-sm-5 col-xs-6 tital">
                                            @Html.DisplayName("End Date")
                                        </div>
                                        <div class="col-sm-7">
                                            @Html.DisplayFor(modelItem => item.Attended_End_Date)
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="bot-border"></div>
                                    </div>

                                    <div>
                                        <div class="col-sm-5 col-xs-6 tital">
                                            @Html.DisplayName("Location")
                                        </div>
                                        <div class="col-sm-7">
                                            @Html.DisplayFor(modelItem => item.InstitutionLocation)
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="bot-border"></div>
                                    </div>

                                    <div>
                                        <div class="col-sm-5 col-xs-6 tital">
                                            @Html.DisplayName("Level Of Education Earned")
                                        </div>
                                        <div class="col-sm-7">
                                            @Html.DisplayFor(modelItem => item.EducationEarned)
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="bot-border"></div>
                                    </div>

                                    <div>
                                        <div class="col-sm-5 col-xs-6 tital">
                                            @Html.DisplayName("Area of Study")
                                        </div>
                                        <div class="col-sm-7">
                                            @Html.DisplayFor(modelItem => item.AreaOfStudy)
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="bot-border"></div>

                                    <div class="bot-border" style="border-bottom-width: 15px; border-bottom-color: darkgrey;"></div>

                                    <a class="btn btn-primary" href="UpdateResumeEducation">Update Education</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    //var modal = document.getElementById('updateEducation');
    //var btn = document.getElementById("updateEducationBtn");
    //var span = document.getElementsByClassName("close")[0];

    //btn.onclick = function () {
    //    modal.style.display = "block";
    //}

    //span.onclick = function () {
    //    modal.style.display = "none";
    //}

    //window.onclick = function (event) {
    //    if (event.target === modal) {
    //        modal.style.display = "none";
    //    }
    //}

    //var modal = document.getElementById('addEducation');
    //var btn = document.getElementById("createEducation");
    //var span = document.getElementsByClassName("close")[0];

    //btn.onclick = function () {
    //    modal.style.display = "block";
    //}

    //span.onclick = function () {
    //    modal.style.display = "none";
    //}

    //window.onclick = function (event) {
    //    if (event.target == modal) {
    //        modal.style.display = "none";
    //    }
    //}
</script>
