@model IEnumerable<ORA.Models.WorkHistoryVM>

@{
    ViewBag.Title = "ReadresumeByWorkHistoryId";
    Layout = null;
}
<link href="~/Content/Resume.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-12 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    <i class="glyphicon glyphicon-wrench"></i>
                    WORK HISTORY
                </h4>
            </div>
            <div class="panel-body">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="bot-border" style="border-bottom-width: 15px; border-bottom-color: darkgrey;"></div>
                        @foreach (var item in Model)
                        {
                            <div>
                                <div class="col-sm-5 col-xs-6 tital">
                                    @Html.DisplayNameFor(model => model.OrganizationName)
                                </div>
                                <div class="col-sm-7">
                                    @Html.DisplayFor(modelItem => item.OrganizationName)
                                </div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                            </div>

                            <div>
                                <div class="col-sm-5 col-xs-6 tital">
                                    @Html.DisplayNameFor(model => model.WorkPlaceLocation)
                                </div>
                                <div class="col-sm-7">
                                    @Html.DisplayFor(modelItem => item.WorkPlaceLocation)
                                </div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                            </div>

                            <div>
                                <div class="col-sm-5 col-xs-6 tital">
                                    @Html.DisplayNameFor(model => model.WorkPlaceStartDate)
                                </div>
                                <div class="col-sm-7">
                                    @Html.DisplayFor(modelItem => item.WorkPlaceStartDate)
                                </div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                            </div>

                            <div>
                                <div class="col-sm-5 col-xs-6 tital">
                                    @Html.DisplayNameFor(model => model.WorkPlaceEndDate)
                                </div>
                                <div class="col-sm-7">
                                    @Html.DisplayFor(modelItem => item.WorkPlaceEndDate)
                                </div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                            </div>

                            <div>
                                <div class="col-sm-5 col-xs-6 tital">
                                    @Html.DisplayNameFor(model => model.JobDescription)
                                </div>
                                <div class="col-sm-7">
                                    @Html.DisplayFor(modelItem => item.JobDescription)
                                </div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                            </div>

                            <div class="bot-border"></div>

                            <!-- Button trigger modal -->


                            @*<button type="button" id="mymodal" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                                Update WorkHistory
                            </button>
                            <div class="bot-border" style="border-bottom-width: 15px; border-bottom-color: darkgrey;"></div>

                            <div class="modal" tabindex="-1" id="myModal" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Education</h4>
                                        </div>
                                        <div class="modal-content">
                                           Html.Action("UpdateWorkHistory")
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        }
                    </div>
                    @*<button type="button" id="createWorkHistory" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createWorkHistory">
                        Create Work History
                    </button>
                    <div class="bot-border" style="border-bottom-width: 15px; border-bottom-color: darkgrey;"></div>

                    <div class="modal" tabindex="-1" id="createWorkHistory" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Education</h4>
                                </div>
                                <div class="modal-content">
                                    @Html.Action("CreateResumeWorkHistory")
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //jQuery(document).ready(function (e) {
    //    jQuery('#mymodal').trigger('click');
    //});

    //$('#myModal').appendTo("body");
</script>
