@model IEnumerable<ORA.Models.AssessmentVM>

@{
    ViewBag.Title = "ReadAssessments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReadAssessments</h2>

<ul>
    <li>
        <p>
            @Html.ActionLink("Create New Assessment", "CreateAssessment")
        </p>
    </li>
    <li>

    </li>
</ul>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @Html.HiddenFor(modelItem => item.AssessmentId)
            <td>
                @Html.ActionLink(item.Employee.EmployeeName, "ReadAssessmentByID", "Assessment", new { id = item.AssessmentId }, new { })
            </td>
            @Html.HiddenFor(modelItem => item.EmployeeID)
        </tr>
    }
</table>

