@model IEnumerable<ORA.Models.AssessmentVM>

@{
    ViewBag.Title = "ReadAssessments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReadAssessments</h2>

<p>
    @Html.ActionLink("Create New Assessment", "CreateAssessment")
</p>
<table>
    @{var counter = 1; }
    <tr>
        @foreach (var item in Model)
        {
                @Html.HiddenFor(modelItem => item.AssessmentId)
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
            </td>
                @Html.HiddenFor(modelItem => item.EmployeeID)
            <td>
                @Html.ActionLink("Create New Assessment", "CreateAssessment", new { id = item.AssessmentId })
            </td>
            if (counter % 3 == 0)
            {
                @:</tr><tr>
            }
            counter++;
        }
    </tr>
</table>

