@model ORA.Models.SprintVM

@{
    ViewBag.Title = "ReadSprintByID";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReadSprintByID</h2>

<div>
    <h4>SprintVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SprintId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SprintId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SprintNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SprintNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SprintName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SprintName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
