@model ORA.Models.KPIVM

@{
    ViewBag.Title = "KPI Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel">
    <div class="panel-heading">
        <h2>@Html.DisplayFor(model => model.Employee.EmployeeFirstName) @Html.DisplayFor(model => model.Employee.EmployeeFirstName)</h2>
    </div>
    <div class="panel-body">
        <h4><strong>Created by:</strong> @Html.DisplayFor(model => model.CreatedBy)</h4>
        <dl class="dl-horizontal">

            @Html.HiddenFor(model => model.KPIID)

            <dt>
                @Html.DisplayNameFor(model => model.CreateDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Points)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Points)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TCCreated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TCCreated)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TCExecuted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TCExecuted)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TCFailed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TCFailed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TCPassed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TCPassed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TCBlocked)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TCBlocked)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RTCCreated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RTCCreated)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RTCFailed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RTCFailed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RTCPassed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RTCPassed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RTCUpdated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RTCUpdated)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SprintTC_Created)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SprintTC_Created)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SprintTC_Failed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SprintTC_Failed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SprintTC_Passed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SprintTC_Passed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DefectsFound)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DefectsFound)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DefectsFixed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DefectsFixed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DefectsAccepted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DefectsAccepted)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DefectsRejected)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DefectsRejected)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DefectsDeferred)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DefectsDeferred)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CriticalDefects)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CriticalDefects)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Defects_FoundInProd)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Defects_FoundInProd)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Defects_FoundInTesting)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Defects_FoundInTesting)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Defects_RetestedFailed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Defects_RetestedFailed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TestHrsPlanned)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TestHrsPlanned)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TestHrsActual)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TestHrsActual)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BugsFoundProduction)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BugsFoundProduction)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalHrsFixingBugs)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalHrsFixingBugs)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Velocity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Velocity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Collaboration)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Collaboration)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Start_Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Start_Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.End_Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.End_Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AssignmentId)
            </dt>

            <dd>
                @Html.ActionLink("Assignment", "ReadAssignmentByID", "Assignment", new { id = Model.AssignmentId }, new { })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProjectId)
            </dt>

            <dd>
                @Html.ActionLink("Project", "ReadProjectByID", "Project", new { id = Model.ProjectId }, new { })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SprintId)
            </dt>

            <dd>
                @Html.ActionLink("Sprint", "ReadSprintByID", "Sprint", new { id = Model.SprintId }, new { })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StoryId)
            </dt>

            <dd>
                @Html.ActionLink("Story", "ReadStoryByID", "Story", new { id = Model.StoryId }, new { })
            </dd>

        </dl>
    </div>
    <div class="panel-footer">
        <p><strong>Last Modifited on:</strong> @Html.DisplayFor(model => model.Modified) 
        <br />
        <strong>By:</strong> @Html.DisplayFor(model => model.ModifiedBy)</p>
    </div>
</div>
<p>
    @if ((string)Session["Role"] == "Team Lead" || (string)Session["Role"] == "Manager" || (string)Session["Role"] == "Director" && Model.EmployeeId != (long)Session["ID"])
    {
        @Html.ActionLink("Edit", "UpdateKPI", "KPI", new { id = Model.KPIID }, htmlAttributes: new { @class = "btn btn-primary" })
    }
    @if ((string)Session["Role"] == "Team Lead" || (string)Session["Role"] == "Manager" || (string)Session["Role"] == "Director")
    {
        @Html.ActionLink("Back To List", "ReadKPIs", "KPI", new { id = (long)Session["ID"] }, htmlAttributes: new { @class = "btn btn-default" })
    }
    else
    {
        @Html.ActionLink("Back To List", "ReadMyKPIs", "KPI", new { id = (long)Session["ID"] }, htmlAttributes: new { @class = "btn btn-default" })
    }
</p>

<style>
    dl {
        columns: 2;
    }

    dd {
        break-before: avoid;
        color: #2d7788;
    }

    .panel-heading {
        border-color: #dddddd;
        background-color: #f5f5f5;
        color: #2d7788;
    }

    .panel {
        border-color: lightgray;
    }

    .panel-footer {
        border-color: lightgray;
    }
</style>