@model IEnumerable<ORA.Models.KPIVM>

@{
    ViewBag.Title = "ReadMyKPIs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>KPI REPORTS</h2>

<p>
    @Html.ActionLink("Create New", "CreateKPI")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @Html.HiddenFor(modelItem => item.KPIID)
            <td>
                @Html.ActionLink(item.Employee.EmployeeName, "ReadKPIByID", "KPI", new { id = item.KPIID }, new { })
            </td>
            @Html.HiddenFor(modelItem => item.EmployeeId)
        </tr>
    }
</table>
