@model ORA.Models.LoginVM

@{
    ViewBag.Title = "Login";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <link href="~/Content/Login.css" rel="stylesheet" />
    <!-- Bootstrap core CSS     -->
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="~/Content/assets/css/animate.min.css" rel="stylesheet" />
    <!--  Light Bootstrap Table core CSS    -->
    <link href="~/Content/assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="~/Content/assets/css/demo.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="~/Images/OnshoreLogo.png"/>
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <div type="email" id="inputEmail" required autofocus>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Email Address", required = "required" } })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                &nbsp; &nbsp; 
                <div type="password" id="inputPassword"  required>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Password", required = "required" } })
                    @*@Html.ValidationMessageFor(model => model.Password)*@
                </div>
                
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->
    <!-- /container -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    <!--   Core JS Files   -->
    <script src="~/Content/assets/js/jquery-1.10.2.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="~/Content/assets/js/bootstrap-checkbox-radio-switch.js"></script>
    <!--  Charts Plugin -->
    <script src="~/Content/assets/js/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/Content/assets/js/bootstrap-notify.js"></script>
    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="~/Content/assets/js/light-bootstrap-dashboard.js"></script>
    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="~/Content/assets/js/demo.js"></script>
}
