@model ORA.Models.EmployeeVM

@{
    ViewBag.Title = "EmployeeDetails";
}

<h2>EmployeeDetails</h2>

<div>
    <h4>EmployeeVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeMiddle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeMiddle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkStatusID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkStatusID)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.address.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address.City)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
