@model ORA.Models.PositionsVM

@{
    ViewBag.Title = "ReadPositionByID";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReadPositionByID</h2>

<div>
    <h4>PositionsVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PositionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
